"*":
  core:
    audioBeep: false
    disabledPackages: [
      "linter"
      "linter-ui-default"
    ]
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  docblockr:
    auto_add_method_tag: true
    c_style_block_comments: true
  editor:
    fontFamily: "Monaco"
    fontSize: 12
    invisibles:
      space: " "
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "59fe97f1-41ac-421c-a108-9e1eb7d50f1a"
  "git-diff":
    showIconsInEditorGutter: true
  "linter-ui-default": {}
  "no-title-bar":
    automaticTrafficLightsPadding: true
  "unity-ui":
    showIcons: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
