'.platform-darwin atom-text-editor.vim-mode-plus-search':
  'cmd-d': 'unset!'
'atom-text-editor.vim-mode-plus.visual-mode.is-narrowed':
  'cmd-d': 'unset!'
'.platform-darwin atom-text-editor':
  'cmd-d': 'unset!'
'atom-workspace atom-text-editor:not([mini])':
  'shift-cmd-D': 'unset!'
  'cmd-[': 'unset!'
  'cmd-]': 'unset!'

'body':
  'cmd-]': 'window:focus-next-pane'
  'cmd-[': 'window:focus-previous-pane'
  'cmd-d': 'pane:split-right-and-copy-active-item'
  'cmd-D': 'pane:split-down-and-copy-active-item'
