/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */
.vertical-scrollbar {
  display: none;
}

atom-workspace,
atom-text-editor {
  font-family: "OperatorMono-Book";
  font-size: 14.5px;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
}
atom-panel.tool-panel {
  font-size: 0.88em;
}

div.wrap-guide {
  margin-left: 5px;
  width: 10px;
  opacity: 0.2;
}

.invisible-character.eol {
  // color: rgb(0, 73, 84);
  color: grey;
  font-family: 'FiraCode-Bold';
}

// magic for combining Fira Code's ligatures with Operator Mono
atom-text-editor.editor {
  .syntax--storage.syntax--type.syntax--function.syntax--arrow,
  .syntax--punctuation.syntax--definition/*,
  .syntax--keyword.syntax--operator */{
    font-family: "Fira Code";
  }
  .syntax--keyword.syntax--control,
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css,
  .syntax--entity.syntax--other.syntax--attribute-name,
  .syntax--entity.syntax--other.syntax--inherited-class,
  .syntax--storage.syntax--modifier,
  .syntax--storage.syntax--type,
  .syntax--variable.syntax--parameter {
    font-style: italic;
  }
  .syntax--string.syntax--quoted,
  .syntax--string.syntax--regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }
  .syntax--entity.syntax--other.syntax--attribute-name {
    font-style: italic;
  }
  .syntax--keyword.syntax--operator.syntax--accessor.syntax--js {
    font-style: italic;
  }
  .syntax--constant.syntax--language.syntax--boolean,
  .syntax--variable.syntax--language.syntax--this,
  .syntax--entity.syntax--name.syntax--class {
    font-weight: 500;
  }
}

.line-numbers {
  font-family: 'Fira Code';
  font-size: 13px;
}

atom-text-editor::shadow {
  .entity.other.attribute-name {
    font-style: italic;
  }
  .comment {
    font-style: italic;
  }
}

div.gutter {
  // background-color: rgb(0, 43, 54);
}

// make comments italic
.editor .comment,
atom-text-editor.editor .syntax--comment {
    font-family: "OperatorMono-LightItalic";
    font-style: normal;
}

// disable line and gutter highligthing
.syntax--this.syntax--js { font-style: italic; }
// atom-text-editor::shadow .line-number.cursor-line { background-color: rgb(0, 43, 54); }
.editor.is-focused {
  .line.cursor-line {
    background: transparent;
  }
}

atom-text-editor::shadow .invisible-character { opacity: 0.9; }

// make bar between splits wider
atom-pane-container atom-pane-axis.horizontal > atom-pane-resize-handle {
  width: 2px;
}

// make cursor smaller
.editor:not(.mini) .cursor {
  height: 18px !important;
  margin-top: 2px;
}

// dim inactive panes
atom-pane.pane { opacity: 0.8; }
atom-pane.active { opacity: 1; }
.panes .pane-row > *.active { opacity: 1; }

body > atom-workspace > atom-workspace-axis > atom-workspace-axis > atom-pane-container > atom-pane > ul.tab-bar {
 font-family: 'Fira Code';
}
